/* =========================================================================
Général
========================================================================= */

body {
    font-family: sans-serif;
    margin: 20px;
    box-sizing: border-box;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
}

h2 {
    margin-top: 0;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

/* =========================================================================
Page form
========================================================================= */

.form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.form-container.hidden {
    display: none;
}

/* =========================================================================
Section form
========================================================================= */

.form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-base-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.inline-group input[type="text"] {
    width: 300px;
}

.group-card {
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 4px;
}

.group-header {
    background: #f8f9fa;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.group-content {
    display: none;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.group-content.visible { /* Lorsque le groupe est déplié */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.periods-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.period-row {
    display: flex;
    gap: 25px;
    align-items: center;
}

/* =========================================================================
Section tableau
========================================================================= */
.courses-board {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 600px) {
    .courses-board {
        flex-direction: column;
    }
}

.course-column {
    flex: 1;
    border: 1px dashed #aaa;
    padding: 15px;
}

#mandatoryList, #optionalList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.course-item {
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fdfdfd;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.2s;
}

.course-item:hover {
    background: #f0f4f8;
}

#detailsContainer {
    display: none;
}

#detailsContainer.visible {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* =========================================================================
Section génération
========================================================================= */
.generation-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.generation-controls :last-child{
    margin: auto;
}

.inline-group input[type="number"] {
    width: 40px;
}

/* =========================================================================
Page horaires
========================================================================= */

.horaires-container.hidden {
    display: none;
}

.horaires-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-nav {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.schedule-nav button {
    padding: 8px 16px;
    cursor: pointer;
    background: #aaa;
    border-radius: 4px;
    white-space: nowrap;
}

.schedule-nav button:hover {
    background: #f0f4f8;
}

.schedule-nav button.active {
    background: #a4cef3;
}

.schedule-grid {
    display: grid;
    grid-template-columns: 40px repeat(5, 180px);
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    position: relative;
}

.day-header {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    background: #f4f4f4;
    box-sizing: border-box;
}

.time-label {
    text-align: right;
    padding-right: 5px;
    font-size: 0.85em;
    color: #666;
    border-right: 2px solid #ccc;
}

.grid-cell {
    border-bottom: 1px dashed #e0e0e0;
    border-right: 1px dashed #e0e0e0;
    box-sizing: border-box;
}

.class-block {
    box-sizing: border-box;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 10;
}

.no-schedule-msg {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: #666;
}

.schedule-actions {
    margin-top: 30px;
}